{% extends 'base.html' %}


{% block content %}
<a href={% url 'create_list' %}>Create a Todo List</a>
{% for todo in todo_list %}
    <h1>{{ todo.name }}</h1>
    <a href={% url 'detail_list' todo.pk%}>Detail</a>
    <a href={% url 'create_item' %}>Add Task</a>
{% endfor %}

{% endblock content %}